<h2 class="text-center">Courses list</h2>
<div class="container">
  <div class="row"> 
    <div class="col-md-9"><button class="btn btn-outline-primary" routerLink="/newCourse">New+</button></div>
    <div class="col-md-3">
      <input style="margin-right: 0px;" class="form-control" [(ngModel)]="searchText" placeholder="Search.." >
    </div>
    </div>
  
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Course Name</th>
          <th scope="col">Credits</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Tuition</th>
          <th scope="col">Status</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody *ngIf="!courses">
        <tr>
          <th scope="row">0</th>
          <td>Testing Course</td>
          <td>4</td>
          <td>2019-03-06</td>
          <td>2019-06-06</td>
          <td>2.550.000</td>
          <td>Closed</td>
          <td>
            <i class="fas fa-user-edit" routerLink="/editStudent"></i>
            <i class="fas fa-trash-alt" (click)="delete(0)" data-toggle="modal" data-target="#myModal"></i>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="courses">
        <!-- <tr *ngFor="let user of users| userFilter: {firstName: searchText, lastName:searchText, gender: searchText, phone:searchText, gmail:searchText, address:searchText, country:searchText} |; index as i; trackBy: trackByFn"> -->
        <tr *ngFor="let course of courses; index as i; trackBy: trackByFn" >
          <th scope="row">{{i+1}}</th>
          <td>{{course.name}}</td>
          <td>{{course.credit}}</td>
          <td>{{course.start_date}}</td>
          <td>{{course.end_date}}</td>
          <td>{{course.tuition}}</td>
          <td>{{course.status}}</td>
          <td>
            <i class="fas fa-user-edit" routerLink="/editUser/{{course.id}}"></i>
            <i class="fas fa-trash-alt" (click)="delete(course.id,i)"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="mx-auto text-center" ><pagination-controls (pageChange)="p = $event"></pagination-controls></div> -->
  </div>
</div>
  
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          Do you want pernament delete this course? 
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>