<h2 class="text-center">Enrollment</h2>
<div class="container">
  <div class="row"> 
    <div class="col-md-9"><button class="btn btn-outline-primary" routerLink="/newEnroll">New+</button></div>
    <div class="col-md-3">
      <input style="margin-right: 0px;" class="form-control" [(ngModel)]="searchText" placeholder="Search.." >
    </div>
    </div>
  
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Student name</th>
          <th scope="col">Course name</th>
          <th scope="col">Registration time</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody *ngIf="!enrollment">
        <tr>
          <th scope="row">0</th>
          <td>Testing Student</td>
          <td>Testing course 1</td>
          <td>2019-06-12</td>
          <td>
            <i class="fas fa-user-edit" routerLink="/editEnroll/0"></i>
            <i class="fas fa-trash-alt" (click)="delete(0)" data-toggle="modal" data-target="#myModal"></i>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="enrollment">
        <!-- <tr *ngFor="let student of students| userFilter: {firstName: searchText, lastName:searchText, gender: searchText, phone:searchText, gmail:searchText, address:searchText, country:searchText} |; index as i; trackBy: trackByFn"> -->
        <tr *ngFor="let enroll of enrollments; index as i; trackBy: trackByFn" >
          <th scope="row">{{i+1}}</th>
          <td>{{enroll.firstName}} {{enroll.lastName}}</td>
          <td>{{enroll.courseName</td>
          <td>{{enroll.time}}</td>
          <td>
            <i class="fas fa-student-edit" routerLink="/editUser/{{student.id}}"></i>
            <i class="fas fa-trash-alt" (click)="delete(i)"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="mx-auto text-center" ><pagination-controls (pageChange)="p = $event"></pagination-controls></div> -->
  </div>
</div>
  <!-- The Modal -->
  <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Delete?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            Do you want pernament delete this student? 
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
    
        </div>
      </div>
    </div>